h1.title-style {
  color: #1A2238;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:70%;
  margin-left: 15%;
  text-align: left;
  
  background-color: #ffffff;
}

p.about-paragraph {
  width: 100%;
  color: #1A2238;
  padding-top: 5%;
}