.flex-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input.text {
  width: 40vw;
  border-radius: 0;
}

input.message {
  height: 30vh;
  display: flex;
}

textarea {
  border-radius: 0;
}

button.contact-button {
  background-color: #FF6A3D;
  border: #FF6A3D solid;
  color: white;
}

button.btn:hover {
  background-color: #FF6A3D;
  border: #FF6A3D solid;
  color: white;
}

div.heading-flex {
  display: flex;
  justify-content: flex-start;
}