.skill-view {
  width: 100px;
  height: 100px;
  background-color: white;
  border: black solid 1px;
  border-radius: 5px;
  background-color: pink;
}

div.skill-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10%;
}