.summary-flex {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
  margin: 300px 200px 0 0;
}
.summary-flex h1 {
  color: #FF6A3D;
}

.intro-homepage {
  color: #9DAAF2;
}

.homepage-flex {
  background: linear-gradient(212.88deg, rgba(0, 0, 0, 0.2) 44.03%, rgba(0, 0, 0, 0) 86.38%), linear-gradient(0deg, rgba(26, 34, 56, 0.55), rgba(26, 34, 56, 0.55)), linear-gradient(293.64deg, rgba(26, 34, 56, 0.59) -0.02%, rgba(255, 106, 61, 0.177) 100%),
  url(../assets/selfimage.JPG);
  background-blend-mode: normal, normal, color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;

}
/* 
.homepage-flex::after {
  background: linear-gradient(212.88deg, rgba(0, 0, 0, 0.2) 44.03%, rgba(0, 0, 0, 0) 86.38%), linear-gradient(0deg, rgba(26, 34, 56, 0.55), rgba(26, 34, 56, 0.55)), linear-gradient(293.64deg, rgba(26, 34, 56, 0.59) -0.02%, rgba(255, 106, 61, 0.177) 100%);
  background-blend-mode: normal, normal, color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */